{% extends 'base/main.html' %}
{% load static %}
{% block content%}

<main>

    <section id="form-container">
        <!-- <img src="{% static 'images/chat-icon.png' %}" alt="logo" id="logo"> -->
        <img src="{% static 'images/zchat_logo.png' %}" alt="logo" id="logo">

        <div id="welcome-message">
            <h1>Welcome to ZChat!</h1>
            <p>A group video calling application just for you.</p>
        </div>

        <form id="form">

            <!-- Tab links -->
            <div class="tab">
                <button type="button" class="tablinks" onclick="changeTab(event, 'Join')" id="default">Join Room</button>
                <button type="button" class="tablinks" onclick="changeTab(event, 'Create')">Create Room</button>
            </div>

            <div id="Join" class="tabcontent">
                <div class="form-field">
                    <input type="text" id="j_room" name="room" placeholder="Enter a room name..." style='text-transform: uppercase;' required>
                </div>

                <div class="form-field">
                    <input type="text" id="j_name" name="name" placeholder="Enter your name..." style="text-transform: capitalize;" required>
                </div>

                <div class="form-field">
                    <input type="password" id="j_password" name="password" placeholder="Enter your password..." required>
                </div>

                <div class="form-field">
                    <input type="submit" value="Join Room">
                </div>
                <span id="error_j" class="form-field" style="display: none;"></span>
            </div>

            <div id="Create" class="tabcontent">
                <div class="form-field">
                    <input type="text" id="c_room" name="c_room" placeholder="Enter a room name..." style='text-transform: uppercase;'>
                </div>

                <div class="form-field">
                    <input type="text" id="c_name" name="c_name" placeholder="Enter your name..." style="text-transform: capitalize;">
                </div>

                <div class="form-field">
                    <input type="password" id="c_password" name="c_password" placeholder="Set a password for room...">
                </div>

                <div class="form-field">
                    <input type="submit" value="Create Room">
                </div>
                <span id="error_c" class="form-field" style="display: none;"></span>
            </div>

            <input type="hidden" id="action" name="action" value="Create">
            {% csrf_token %}
        </form>
    </section>

</main>

<script type="text/javascript" src="{% static 'js/lobby.js' %}"></script>

{% endblock content %}