{% extends 'base/main.html' %}
{% load static %}
{% block content%}

<main>
    <section id="room-name-wrapper">
        <p>Room Name <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">

        <div class="icon-wrapper">
            <img src="{% static 'images/microphone.svg' %}" alt="microphone" class="control-icon" id="mic-btn">
        </div>

        <div class="icon-wrapper">
            <img src="{% static 'images/video.svg' %}" alt="camera" class="control-icon" id="camera-btn">
        </div>

        <div class="icon-wrapper">
            <img src="{% static 'images/leave.svg' %}" alt="leave" class="control-icon" id="leave-btn">
        </div>

    </section>
</main>
<script src="{% static 'assets/AgoraRTC_N-4.8.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
{% endblock content %}